<div class="order-bd">
    <div class="order-tit utit clearfix">
        <h2><i></i> 提款申请</h2>
        <span class="fr">
            <span class="hb-item"><a href="/pftikuan/tikuanlist/?tm=month6" class="lnk">近6个月提款记录</a></span>
        </span>
    </div>
    <div class="order-form">
        <!-- 招商、农业、工商、建设、中国银行来进行提款提款最快30分钟可到账!其他银行提款一般需1-2个工作日才会到账，节假日延顺! -->
        <p class="top-tips f-dn"><i class="ico ico-info-s"></i> 中国建设银行将于2014年7月19日23：30—7月20日09：00进行系统维护，在此期间使用建行提现会受到影响。</p>
        <em class="red"></em>
        <div class="profile first ">
            <ul class="profile-form">
                <li>
                    <span class="v">可提金额：</span>
                    <span class="k fsz14">
                        <b class="red" id="money_all">0</b> 元

                    </span>
                </li>
                <li>
                    <span class="v">开户姓名：</span>
                    <span class="k"><a class="user-name" href="javascript:;">范铮 <span class="tip1">为保障您提款安全，开户人姓名必须为范铮</span></a></span>
                </li>
                <li>
                    <span class="v">提款银行卡号：</span>
                    <span class="k">
                        <span class="bank-name fsz14"><i class="bank-ico ico-icbc"></i> 中国工商银行</span>
                        <span class="card-number fsz14">621********6476</span>
                        <a href="@Href("~/member/usercenter/bdyhk")" class="lnk">修改银行卡</a>
                        <p class="tip2" style="width: 126px"><em id="daozhang">1个工作日到账</em> 0手续费</p>
                    </span>
                </li>
                <li>
                    <span class="v">提款金额：</span>
                    <span class="k">
                        <input type="text" class="text input-medium" maxlength="10" autocomplete="off" value="" id="tmoney"> 元<em class="txt-t gray"> 请输入提款金额</em>
                        <p class="form-tips gray">最小提款金额为1元，每天只能提款1次，红包账户资金只能用于购彩不能提现！</p>
                    </span>
                </li>
                <li>
                    <span class="v">支付密码：</span>
                    <span class="k">
                        <input type="password" class="text input-medium" autocomplete="off" maxlength="16" value="" id="ppass" error="支付密码输入有误"><em class="txt-t"></em>
                        <p class="form-tips gray"><a href="/pfback/back/" class="lnk">找回支付密码</a> 此支付密码是您设置的彩票账户的支付密码，和银行卡无关</p>
                    </span>
                </li>
            </ul>
        </div>
        <div class="btn profile-btn">
            <span id="btn_post" class="ubtn3">确认提款</span>
        </div>
    </div>
    <div class="line"></div>
</div>
<div class="data-info">
    <h3>提款申请-注意事项：</h3>
    <p>为保障您的资金安全，我们将审核您的提款申请后，再汇款至您的银行卡；</p>
    <p>我们受理提款后，系统会以短信形式通知您，并非银行到账通知；</p>
    <p>为防止恶意提款、洗钱等不法行为，<em class="red">每笔充值资金的15%须用于实际消费</em>，否则提款受限；</p>
    <p>为保障提款资金快速汇至您的银行卡，每天限制申请提款1次（如提款申请未处理，可自行在<a class="lnk" href="/pftikuan/tikuanlist/?tm=month6">提款记录</a>中撤销）；</p>

</div>