<article class="docBody clearfix">
    <section class="siderBox">
        <div id="gamesMenu">
            <div id="lotteryList" style="display: none; left: 0px;">
                <div class="lotteryListWrap">
                    <ul></ul>
                </div>
            </div>
        </div>
        <div id="rankingList">
            <dl class="grayTitle clearfix" id="ranksTab">
                <dd rel="#ownerRanks" class="active">发单人排行榜</dd>
                <dd rel="#totalRanks" class="end">个人排行榜</dd>
            </dl>
            <div class="ranking_con">
                <table class="ranking_table" id="ownerRanks" style="display: table;">
                    <colgroup>
                        <col width="">
                        <col width="35%">
                        <col width="35%">
                        <col width="15%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th></th>
                            <th>用户名</th>
                            <th class="t_r">中奖金额</th>
                            <th>跟单</th>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span class="xh_top">
                                    1
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=%E8%B6%B3%E5%BD%A9%E8%B6%85%E7%BA%A7%E9%AB%98%E6%89%8B" rel="nofollow">足彩超级高手</a></span></td>
                            <td class="t_r">5722万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=%E8%B6%B3%E5%BD%A9%E8%B6%85%E7%BA%A7%E9%AB%98%E6%89%8B" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="xh_top">
                                    2
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=%E8%B6%B3%E5%BD%A9%E5%BE%90%E8%80%8D%E5%8C%97%E5%8D%95" rel="nofollow">足彩徐耍北单</a></span></td>
                            <td class="t_r">3650万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=%E8%B6%B3%E5%BD%A9%E5%BE%90%E8%80%8D%E5%8C%97%E5%8D%95" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span class="xh_top">
                                    3
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=%E5%B7%9D%E8%A5%BF%E5%B9%B3%E5%8E%9F" rel="nofollow">川西平原</a></span></td>
                            <td class="t_r">1171万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=%E5%B7%9D%E8%A5%BF%E5%B9%B3%E5%8E%9F" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    4
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=%E9%98%BF%E5%9C%9F%E8%B4%A2%E4%B8%BB" rel="nofollow">阿土财主</a></span></td>
                            <td class="t_r">1006万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=%E9%98%BF%E5%9C%9F%E8%B4%A2%E4%B8%BB" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span>
                                    5
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=%E6%A3%AE%E6%9E%97%E8%BD%BB%E9%AA%91%E5%85%B5" rel="nofollow">森林轻骑兵</a></span></td>
                            <td class="t_r">766万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=%E6%A3%AE%E6%9E%97%E8%BD%BB%E9%AA%91%E5%85%B5" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    6
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=%E8%8D%89%E9%9D%92%E6%A0%91%E8%8C%82" rel="nofollow">草青树茂</a></span></td>
                            <td class="t_r">300万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=%E8%8D%89%E9%9D%92%E6%A0%91%E8%8C%82" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span>
                                    7
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=%E8%87%B3%E8%AF%9A%E6%84%9F%E9%80%9A" rel="nofollow">至诚感通</a></span></td>
                            <td class="t_r">286万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=%E8%87%B3%E8%AF%9A%E6%84%9F%E9%80%9A" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    8
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=%E6%88%91%E5%92%8C%E4%BD%A0%E5%B7%A5%E4%BD%9C%E5%AE%A4" rel="nofollow">我和你工作室</a></span></td>
                            <td class="t_r">191万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=%E6%88%91%E5%92%8C%E4%BD%A0%E5%B7%A5%E4%BD%9C%E5%AE%A4" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span>
                                    9
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=%E9%98%B3%E5%85%89%E6%99%AE%E6%B5%8B" rel="nofollow">阳光普测</a></span></td>
                            <td class="t_r">186万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=%E9%98%B3%E5%85%89%E6%99%AE%E6%B5%8B" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    10
                                </span>
                            </td>
                            <td><span class="nickNames"><a target="_blank" href="/homepage/homepage_index.html?nickName=xiaoyu397687693" rel="nofollow">xiaoyu397687693</a></span></td>
                            <td class="t_r">171万元</td>
                            <td><a class="dingzhi" href="/homepage/homepage_autofollow.html?nickName=xiaoyu397687693" target="_blank" rel="nofollow">定制</a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="ranking_table" id="totalRanks" style="display: none;">
                    <colgroup>
                        <col width="">
                        <col width="45%">
                        <col width="40%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th></th>
                            <th>昵称</th>
                            <th class="t_r">中奖金额</th>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span class="xh_top">
                                    1
                                </span>
                            </td>
                            <td><span class="nickNames"><em>贺小***</em></span></td>
                            <td class="t_r">20136万元</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="xh_top">
                                    2
                                </span>
                            </td>
                            <td><span class="nickNames"><em>足彩***</em></span></td>
                            <td class="t_r">7041万元</td>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span class="xh_top">
                                    3
                                </span>
                            </td>
                            <td><span class="nickNames"><em>彩神***</em></span></td>
                            <td class="t_r">5234万元</td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    4
                                </span>
                            </td>
                            <td><span class="nickNames"><em>足彩***</em></span></td>
                            <td class="t_r">3621万元</td>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span>
                                    5
                                </span>
                            </td>
                            <td><span class="nickNames"><em>卡宴***</em></span></td>
                            <td class="t_r">2923万元</td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    6
                                </span>
                            </td>
                            <td><span class="nickNames"><em>xd***</em></span></td>
                            <td class="t_r">1941万元</td>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span>
                                    7
                                </span>
                            </td>
                            <td><span class="nickNames"><em>买彩***</em></span></td>
                            <td class="t_r">1836万元</td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    8
                                </span>
                            </td>
                            <td><span class="nickNames"><em>总要***</em></span></td>
                            <td class="t_r">1614万元</td>
                        </tr>
                        <tr bgcolor="f7f7f7">
                            <td>
                                <span>
                                    9
                                </span>
                            </td>
                            <td><span class="nickNames"><em>se***</em></span></td>
                            <td class="t_r">1604万元</td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    10
                                </span>
                            </td>
                            <td><span class="nickNames"><em>阿土***</em></span></td>
                            <td class="t_r">1590万元</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="maincontent">
        <div id="promotion">
            <div class="clearfix">
                <div class="promotion_picture" id="cpIndexAdBox">
                    <div class="loadingData"></div>
                    <div class="loadedErr">数据加载失败，请<a href="javascript:;" onclick="window.Core.loadIndexAD()">重试</a>。</div>
                    <ul class="adList"></ul>
                    <div class="ctrol"></div>
                </div>
                <script>window.Core && window.Core.loadIndexAD && window.Core.loadIndexAD();</script>
            </div>
        </div>
        <div class="newsarea">
            <h3 class="news-top"><a href="#" style="color:#FF0000!important">竞猜狂赚:曼 联VS曼 城</a>&nbsp;&nbsp;&nbsp;<a href="http://zqb.360.cn/pactivity" style="color:#FF0000!important">竞猜游戏 不中我买单</a></h3>
            <ul class="news-list clearfix">
                <li><a href="http://cp.360.cn/ssq" target="_blank"><em class="gray666">[双色球]</em></a>&nbsp;<a href="http://cp.360.cn/ssq/forcast">媒体推荐</a>&nbsp;<a href="http://chart.cp.360.cn/zst/ssq">走势图</a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10310">小宋</a></li>
                <li><a href="http://cp.360.cn/slt" target="_blank"><em class="gray666">[大乐透]</em></a>&nbsp;<a href="http://cp.360.cn/slt/forcast">媒体推荐</a>&nbsp;<a href="http://chart.cp.360.cn/zst/slt">走势图</a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10298">左木</a></li>
                <li><a href="http://cp.360.cn/jczq" target="_blank"><em class="gray666">[竞彩]</em></a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10346">精选串关</a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10335">日职推荐</a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10319">军长</a></li>
                <li><a href="http://cp.360.cn/jczqdg/" target="_blank"><em class="gray666">[单固]</em></a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10334" style="">曼市德比恩怨多</a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10333" style="">强胆推荐</a></li>
                <li><a href="http://cp.360.cn/sfc" target="_blank"><em class="gray666">[胜负彩]</em></a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10320" style="">16133期:索肖坐平望胜</a></li>
                <li><a href="http://cp.360.cn/jclq" target="_blank"><em class="gray666">[竞足]</em></a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10341" style="">热刺客让坚实</a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10342" style="">多特盘不稳</a></li>
                <li><a href="http://cp.360.cn/zx" target="_blank"><em class="gray666">[焦点]</em></a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10337" style="">曼联德比不败</a>&nbsp;<a href="http://cp.360.cn/infohall/c/a/10336" style="">红军耀全场</a></li>
            </ul>
        </div>
        <div class="home-cz-cloum">
            <ul class="home-cz-cloumnav">
                <li style="width:100px;height:32px;margin-right: 15px;"><img alt="彩咖网" src="@Href("~/content/css/imgs/index/t019f679bb3e502ca26.png")"></li>
                <li class="current" rel="#div1">竞彩足球</li>
                <li class="" rel="#div3">走地盘</li>
                <li class="" rel="#div2">闯单关</li>
                <li class="" rel="#div4">焦点比赛</li>
            </ul>
            <div id="div1" style="display:none">
                <div class="clear-height">
                    <span class="state-left"><b>意甲</b></span>  <span class="state-left">投注截止 <i class="red">09-11 20:57</i></span>
                    <span class="state-right"><a href="#" class="home-jc-huan">换一场</a> <em class="gray">|</em> <a href="/jczq/?home/ks">更多比赛</a></span>
                </div>
                <ul class="home-cloum-jczq clearfix">
                    <li code="3" sp="2.37" class="act"><h3>热那亚 胜</h3><span>2.37 <i>(0%支持)</i></span></li>
                    <li code="1" sp="3.00"><h3>平局</h3><span>3.00 <i>(0%支持)</i></span></li>
                    <li code="0" sp="2.67"><h3>佛罗伦萨 胜</h3><span>2.67 <i>(0%支持)</i></span></li>
                </ul>
                <div class="jczq-bottom-click clearfix">
                    <a href="#" class="fr pass-none">确认购买</a>
                    <span class="jczq-click01" unselectable="on" onselectstart="return false;">-</span>
                    <input class="click-number home-jc-mul" type="text" value="10" min="1" max="1000" maxlength="4">
                    <span class="jczq-click01" unselectable="on" onselectstart="return false;">+</span>&nbsp;倍，<span>共<i class="red">2.00</i>元，</span><span>奖金：<i class="red">4.74</i>元</span>
                </div>
            </div>
            <div id="div2" style="display:none">div2</div>
            <div id="div3" style="display:none">div3</div>
            <div id="div4" style="display:none">div4</div>
        </div>
    </section>
    <section class="siderBox_r">
        <div id="login-pnl" class="user-show-none" style="display:block">
            <div class="home-loginst" style="position: relative;">
                <a id="loginBtn" class="login-btn">登录</a><a id="regBtn" class="login-btn pass-btn">免费注册</a>
                <span><a href="#" style="margin-right:2px;">忘记密码？</a>|<a href="#">找回账号</a></span>
                <p>&nbsp;</p>
            </div>
            <h3 class="home-zhongjiang">累计派奖：<i>572</i> 万 <i>8562</i> 元 </h3>
        </div>
        <div id="usr-pnl" class="user-show-none">
            <div class="user-loginst">
                <p style="font-size: 16px;">
                    <img src="~/content/css/imgs/index/usr-icon.png?ad23fakha" class="use-img" />
                    <a href="javascript:void(0);" class="bold" target="_blank">飞驰的牛</a>
                </p>
                <p class="user-zhanghu">
                    <span>可用余额：<strong id="avail" class="c_ba2636">0.00</strong> 元</span>
                </p>
                <p>
                    <span>冻结金额：<strong id="freezed" class="c_ba2636">0.00</strong> 元</span>　|
                    <a href="javascript:void(0);" class="lnk" id="czlink" target="_blank">充值</a>　|
                    <a href="javascript:void(0);" class="lnk" id="tklink" target="_blank">提款</a>
                </p>
                <p class="user-goucai">
                    <a class="jilu" style="margin-left: 0;" href="javascript:void(0);">购彩记录</a>
                    <a href="javascript:void(0);">追号记录</a>
                    <a href="javascript:void(0);">账户明细</a>
                </p>
            </div>
        </div>
        <div class="right-mod" id="promotion">
            <div class="rightmod-hd clearfix">
                <h2>网站公告</h2>
                <span class="fr"><a href="/kj/kaijiang.html?src=home" class="more">更多>></a></span>
            </div>
            <div class="promotion_con" id="topNotice" style="display: block;">
                <ul class="promotion_list">
                    <li>·<a href="http://bbs.caipiao.163.com/56696.html" target="_blank">开门大吉：注册即可获得彩金</a></li>
                    <li>·<a href="http://caipiao.163.com/outside/getclient_cp.html?from=nav1" target="_blank">欢乐购火爆上线，“1元”夺6S</a></li>
                    <li>·<a href="http://bbs.caipiao.163.com/54287.html" target="_blank">易起来：停就易起等，开就易起爽</a></li>
                    <li>·<a class="c_ba2636" href="http://caipiao.163.com/outside/getclient_cp.html?from=gg" target="_blank">下载网易彩票 客户端 中6S喽！</a></li>
                    <li>·<a href="http://bbs.caipiao.163.com/56696.html" target="_blank">娱乐场大比拼：猜球搓牌轮盘疯</a></li>
                </ul>
            </div>
            <p class="helplinks">
                <a href="http://caipiao.163.com/help/" target="_blank">新手入门</a>
                <a href="http://caipiao.163.com/help/13/0506/18/8U79SADA00754IPH.html" target="_blank">安全保障</a>
                <a href="http://caipiao.163.com/help/10/0726/16/6CHGN51T00754IHQ.html" target="_blank">领奖指南</a>
            </p>
            <div class="rightmod-hd clearfix" style="height:300px;">
                <p>&nbsp;</p>
            </div>
        </div>
    </section>
</article>
<div class="docBody clearfix">
    <a target="_blank" href="/jingcai">
        <div style="height: 60px; background-image: url(@Href("~/Content/images/wlht.jpg"))">
        </div>
    </a>
</div>
